body{
    background-color: rgb(183, 198, 198);
}

hr{
    background-color: white;
    border-style: none;
    height: 5px;
}
h1{
    color:rgb(36, 106, 56)
}
h2{
    color:rgb(36, 106, 56)
}
h3{
    color:rgb(36, 106, 56)
}